.Centralizando_imagem {
    text-align: center;
    margin: 40px auto;
}

.Centralizando_imagem img{
    display: block; /*Centraliza imagem*/
    margin: 0 auto; /*Centraliza horrizontalmente*/    
    max-width: 100%; /*faz com que a imagem nunca ultrapasse do bloco (responsivo)*/    
    height: auto; /*Mantem a propoção original da imagem*/
}



.Centralizando_conteudo{
   text-align: center;
}