.CSS_video{
  display: flex;
  justify-content: center; /* centraliza na horizontal */
  align-items: center;    /*centraliza na vertical */
 
}

.CSS_video{
  width: 100%; /*width define largura*/
  max-width: 100%; /*max-width define altura total que ele pode chegar (max)*/
  display: flex; /*display: flex ativa o flexbox*/
  justify-content: center; /*justify-content alinha os elementos horizontalmente*/
}

.CSS_video iframe {
  width: 90%; 
  height: auto;/*height: auto. Define altura do elemento */
  aspect-ratio: 16/9; /*aspect-ratio Diz ao navegador qual é a proporção entre largura e altura*/
}

/* Estilo da tabela */
.tabelaCarros {
    width: 100%;
    text-align: center; /*Centralizando*/
}

.veiculo-card {
    padding: 15px;
}

.veiculo-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.veiculo-card{
  color: blue;
}

.veiculo-card p{
color: #000;
}

.comparar-container {
    display: flex;
   flex-direction: row-reverse;
   align-items: center;
    justify-content: center;
    gap: 5x; /* espaço entre a caixa e o ícone */
    margin: 10px 0;
}

/* Ícone de info */
.info-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
    
}

/* Estilo do botão */
button {
    background-color: blue; /*Cor do botão*/
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

/* Efeito ao passar o mouse */
button:hover {
    background-color: #003366; /* azul mais escuro */
}
