/*CSS geral (Header é footer são padrão das 3 páginas) */

.Centralizando_conteudo{
   text-align: center;
}

.Centralizando_imagem{
    text-align: center;
}

.Centralizando-horizontal{
    list-style: none; /*remove as 'bolinhas' de listas*/
    text-align: center; /*centraliza o conteúdo*/
    padding: 0;
    margin: 20px 0;

}
.Centralizando-horizontal li{
    display: inline-block; /*Coloca os intes lado a lado (horizontalmente)*/
    margin: 0 15px; /*Espaço entre eles*/
    font-size: 25px; /*tamanho da fonte home (home, lançamento é contato)*/
     transition: color 0.3s ease; /*time da troca de cores (transition)*/
}

.Centralizando-horizontal a{
    text-decoration: none; /*remove o sublinhado*/
    color: blue;
}

.Centralizando-horizontal :hover{ /*'hover' é o comando da troca de cores*/
    color: #1c2a5f; /*cor selecionada para mudar quando encostar no cursor do mouse dos nomes*/
}

    .Centralizando_copy{
        text-align: center;
    }

.CSS_footer {
  background-color: #1c2a5f; /* cor ford*/
  padding: 15px 20px;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-esquerda {
  display: flex;
  align-items: center;
  gap: 10px;
}

.titulo-redes {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.footer-esquerda a img {
  width: 30px;
}

.footer-centro {
  text-align: center;
  flex: 1;
}

.footer-centro p {
  margin: 0;
}

.footer-direita img {
  width: 100px; /*logo Ford para direita (100px = 100 pixels?)*/
}


/*CSS do Lançamento*/

.CSS_video{
  display: flex;
  justify-content: center; /* centraliza na horizontal */
  align-items: center;    /*centraliza na vertical */
 
}

.CSS_video{
  width: 100%; /*width define largura*/
  max-width: 100%; /*max-width define altura total que ele pode chegar (max)*/
  display: flex; /*display: flex ativa o flexbox*/
  justify-content: center; /*justify-content alinha os elementos horizontalmente*/
}

.CSS_video iframe {
  width: 90%; 
  height: auto;/*height: auto. Define altura do elemento */
  aspect-ratio: 16/9; /*aspect-ratio Diz ao navegador qual é a proporção entre largura e altura*/
}

/* Estilo da tabela */
.tabelaCarros {
    width: 100%;
    text-align: center; /*Centralizando*/
}

/* Cada célula (carro) */
.veiculo-card {
    padding: 15px;
}

.comparar-container {
    display: flex;
   flex-direction: row-reverse;
   align-items: center;
    justify-content: center;
    gap: 5x; /* espaço entre a caixa e o ícone */
    margin: 10px 0;
}

/* Aumentar checkbox */
.veiculo-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Ícone de info */
.info-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
    
}

/* Estilo do botão */
button {
    background-color: #004481; /* azul Ford */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

/* Efeito ao passar o mouse */
button:hover {
    background-color: #003366; /* azul mais escuro */
}