.Centralizando_conteudo{
   text-align: center;
}

.Centralizando_imagem{
    text-align: center;
}

.Centralizando-horizontal{
    list-style: none; /*remove as 'bolinhas' de listas*/
    text-align: center; /*centraliza o conteúdo*/
    padding: 0;
    margin: 20px 0;

}
.Centralizando-horizontal li{
    display: inline-block; /*Coloca os intes lado a lado (horizontalmente)*/
    margin: 0 15px; /*Espaço entre eles*/
}

.Centralizando-horizontal a{
    text-decoration: none; /*remove o sublinhado*/
    color: blue;
}

    .Centralizando_copy{
        text-align: center;
    }

.CSS_footer {
    background-color: #1c2a5f;
    padding: 10px 20px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between; /* distribui as 3 partes: esquerda, centro, direita */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; /* centraliza o conteúdo do rodapé */
    flex-wrap: wrap; /* para dispositivos pequenos */
}

.footer-esquerda a img,
.footer-direita img {
    width: 40px;
    margin: 0 5px;
}

.footer-centro {
    text-align: center;
    flex: 1;
}

.footer-centro p {
    margin: 5px 0;
}